---
import DocLayout from '../layouts/DocLayout.astro';
---

<DocLayout title="Code Test Page">
  <div>
    <h1>Code Test Page</h1>
    <p>Prosty przykład kodu z FAQ</p>

    <div>
      <h2>Przykładowy blok kodu</h2>
      <div>
        <pre><code>
# Przykładowy kod
echo "Hello World"
        </code></pre>
      </div>
    </div>
  </div>
</DocLayout>
