---
import '../styles/global.css';
---

<html lang="pl" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dockabase</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
